.btn-comment {
  background-color: royalblue;
  color: white;
  font-size: small;
  left: 50px;
}

.card-title {
  font-size: small;
}





#postbtn {
  background-color: royalblue;
  color: white;
  border-radius: 3%;
}

#postDiv,
.belowPost {
  text-align: center;

}

textarea {
  width: 100%;
  margin-bottom: 5%;
}

.commentField {
  width: 75%;
}

input {
  width: 100%;
}


.card-header,
.card-body {
  padding: 0.5%;
}

.card {
  margin-top: 15px;
}

#overRide,
#overRide2,
#overRide3 {
  color: royalblue;
}

#overRide:hover,
#overRide2:hover,
#overRide3:hover {
  color: white;
  background-color: royalblue;
}